---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';
import H1 from '../../components/H1.astro';
import H3 from '../../components/H3.astro';
import Section from '../../components/Section.astro';
import H2 from '../../components/H2.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { blog: post.id },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---
<!-- Get the latest one from: https://katex.org/docs/browser -->
<link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet">
<PageLayout>
	<article class="max-w-prose mx-auto">
		<div class="border-atom-comment/20 border-b-2 pb-4 mb-4">
			<!-- Titles -->
			<H1>{post.data.title}</H1>
			{
				post.data.subtitle && (
				<H3>{post.data.subtitle}</H3>)
			}
			
			<div class="flex mt-7 flex-row gap-2 font-mono text-sm">
				{post.data.tags.map(tag => (
					<span class="text-atom-yellow">{tag}</span>
				))}
				<span class="text-atom-comment">|</span>
				<span class="text-atom-comment">{post.data.pubDate.toDateString()}</span>
			</div>
		</div>
		<div class="leading-relaxed text-base md:text-lg">
			<Content />
		</div>
	</article>
</PageLayout>
