---
import "../styles/index.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
---

<html lang="en">
	<head>
		<Head />
	</head>
	<body 
		class="bg-atom-bg text-atom-text font-sans"
	>
		<div class="min-h-screen">
			<Header />
			<Container>
				<slot />
			</Container>
		</div>
		<Footer />
	</body>
</html>
